{
  "root": true,
  "env": {
    "node": true
  },
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2021
  },
  "plugins": [
    "html",
    "import"
  ],
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "prettier"
  ],
  "rules": {
    "no-console": [
      "error",
      {
        "allow": [
          "warn"
        ]
      }
    ],
    "no-debugger": "warn",
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
          "object",
          "type",
          "unknown"
        ],
        "pathGroups": [
          {
            "pattern": "@/components/**",
            "group": "parent",
            "position": "before"
          },
          {
            "pattern": "./**",
            "group": "sibling"
          }
        ],
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": false
        },
        "newlines-between": "always",
        "warnOnUnassignedImports": false
      }
    ]
  },
  "overrides": [
    {
      "files": [
        "**/*.spec.ts"
      ],
      "rules": {
        "@typescript-eslint/no-explicit-any": "off"
      }
    }
  ]
}
